<!DOCTYPE html>
<html>
<head>
    <title>Create Todo</title>
</head>
<body>
    <h1>Create Todo</h1>
    <form method="post" action="{% url 'todo_create' %}">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" name="title"><br><br>
        <label for="description">Description:</label><br>
        <textarea name="description"></textarea><br><br>
        <label for="id_due_date">Due Date:</label>
        <input type="date" id="id_due_date" name="due_date"><br>
        
        <input type="submit" value="Create">
    </form>
    <a href="{% url 'todo_list' %}">Back to Todo List</a>
</body>
</html>
